<div class="m-auto w-75">
  <p-accordion *ngIf=organizationOverviewDetails class="m-3">
    <p-accordionTab *ngFor="let orgDetail of organizationOverviewDetails">
      <ng-template pTemplate="header">
        <div id="accordianHeader" >
          <span>{{orgDetail.organizationDisplayName.toUpperCase()}}</span>
          <p-button icon="pi pi-info-circle" label="Details" />
          <p-button icon="pi pi-user-edit" label="Admins" severity="secondary" />
          <p-button icon="pi pi-trash" label="Delete Org" severity="danger" />
        </div>
      </ng-template>
      <div class="m-3">
        <p>Date Joined: {{orgDetail.organizationCreationDate | date }}</p>
        <p>Teachers: {{orgDetail.numberOfTeachers}}</p>
        <p>Teacher's Assistants: {{orgDetail.numberOfAssistants}}</p>
        <p>Students: {{orgDetail.numberOfStudents}}</p>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
