<div *ngIf="user">
  <p-toolbar
    styleClass="bg-gray-900 shadow-2">
    <ng-template pTemplate="start">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" alt="primeng"/>
    </ng-template>
    <ng-template pTemplate="center">
      {{user.selectedRole.organizationName.toUpperCase()}}
    </ng-template>
    <ng-template pTemplate="end">
      <div class="d-flex align-items-center justify-content-center">
        <p-splitButton [label]="user.username" icon="pi pi-check" [model]="menuItems" />
        <p-avatar
          size="xlarge"
          [image]="user.profileImageUrl"
          shape="circle" />
      </div>
    </ng-template>
  </p-toolbar>
</div>
