<app-toolbar></app-toolbar>

<div *ngIf="userStore.user$ | async">
  <div *ngIf="userStore.hasPermission(PERMISSION.MANAGE_ORGANIZATION)"><app-super-home></app-super-home></div>
  <div *ngIf="userStore.hasPermission(PERMISSION.ADD_DELETE_TEACHER)">ADMIN MODULE</div>
  <div *ngIf="userStore.hasPermission(PERMISSION.ADD_DELETE_TEACHER_ASSISTANT)">TEACHER MODULE</div>
  <div *ngIf="userStore.hasPermission(PERMISSION.CREATE_FLASHCARD_SET)">TEACHER ASSISTANT MODULE</div>
  <div *ngIf="userStore.hasPermission(PERMISSION.START_STOP_GAME)">STUDENT MODULE</div>
</div>

<p-toast/>
